# Основной веб-фреймворк
Flask==3.0.3

# Для работы с CORS (чтобы фронтенд из Telegram мог обращаться к бэкенду)
flask-cors==5.0.0

# Чтение .env файла локально
python-dotenv==1.0.1

# Для production-сервера (обязательно для Render / Railway / Heroku и т.д.)
gunicorn==23.0.0

# Опционально, но полезно для безопасности и работы с хэшами (Telegram initData)
cryptography==43.0.1   # если будешь расширять валидацию

#Aiogram Для бот логики и чтобы заработало initData
aiogram==3.26.0